*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: helvetica, arial, sans-serif;
    color: white;
}

a {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}

.main-header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('/images/pattern.jpg');
    text-align: center;
}

section h1 {
    font-size: 32px;
}

.brushes h1 {
    background-color: mediumspringgreen;
}

.frames h1 {
    background-color: lightcoral;
}
    
.paint h1 {
    background-color: skyblue;
}